.cards {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.card {
  background-color: dodgerblue;
  color: white;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 10rem;
}

@media (min-width: 100px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
